/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Color codes used for the theme */
$gray                       : #6b7280;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : #9ca3af;

$background                 : #1e2129;
$background-light           : #2d3140;
$background-lighter         : #3b4050;
$text                       : #e5e7eb;
$link                       : #60a5fa;
$link-dark                  : #3b82f6;
$link-light                 : #93bbfd;

/* Color codes used for the site */
$danger-color               : #ef4444;
$info-color                 : #3b82f6;
$notice-color               : #6b7280;
$success-color              : #22c55e;
$warning-color              : #f59e0b;

/* Other basic settings for the template */
$border-radius              : 6px;
$box-shadow                 : 0 1px 2px rgba(0, 0, 0, 0.2);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$background};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #181b22;
    --global-border-color               : #{$background-light};
    --global-dark-border-color          : #{$background-lighter};
    --global-code-background-color      : #{$background-light};
    --global-code-text-color            : #d1d5db;
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-light};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$link};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #{$light-gray};
    --global-thead-color                : #{$background-lighter};
}
